body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar {
    background-color: #333;
    color: #fff;
    padding:10px;
    margin: 2vw 10vw;
    width: 80vw;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.container {
    max-width: 80vw;
    margin: 0 auto;
    padding: 20px;
}

.card {
    background-color: #dcddee;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
    font-size: 24px;
}

.card p {
    margin-bottom: 10px;
    color: #666;
}

.card .action {
    margin-top: 20px;
}

.card .action button {
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
}

.card .action button:hover {
    background-color: #45a049;
}

.card .action a {
    margin-left: 10px;
    text-decoration: none;
    color: #666;
    font-size: 14px;
}
.card2{
    background-color: #4CAF50;
}
.SAbtn{
    width: 30%;
    background-color: #dcddee;
}