.EmployeeDashContainer {
    background-color: #F0F2F5;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.EmployeeDashContainer_left {
    background-color: #ffffff;
    width: 45%;
    height: 90%;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.EmpProfile_details_down{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    width: 90%;
    height: 40vh;
}
.EmpProfile_details_down1{
    width: 48%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.EmployeeSection-wrapper {
    background-color: #ffffff;
    width: 45%;
    height: 90%;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.APAR_details-head {
    height: auto;
    width: 40%;
    background-color: #D5F5E8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    font-size: .6rem;
}

.APAR_details {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .6rem;
    padding: 1rem;
    height: 80%;
    gap: 1%;

}

.APAR_details-inside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10%;
    background-color: #D6E3FD;
    border-radius: .5rem;
    padding: 2%;

}
.details_apar{
    display: flex;
    flex-direction: column;
    height: 62%;
    margin-top: 5%;
    width: 80%;

    
}

.APAR_details-inside-1 {
    font-weight: 600;
    /* color: #04ed90; */
}
.APAR_details-inside-12 {
    font-weight: 500;
    /* color: #1d63ef; */
}

.APAR_details-inside-2 {
    display: flex;
    font-size: 0.8rem;
    font-weight: 400;
    gap: 2%;
    margin-bottom: 1%;
    height: 12%;

    
}
.title_dash{
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
    background-color: #F0F2F5;
    border-radius: 5px;
}
.res_dash{
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
    background-color: #F0F2F5;
    border-radius: 5px;

}

.SAbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-top: 4%;
    background-color: #D6E3FD;
    height: auto;
    border-radius: .5rem;
    padding: .5rem;
    outline: none;
    border: none;
    cursor: pointer;
    height: 8%;

}

.self-appraisal-filled {
    height: auto;
    margin-bottom: 1rem;
    padding: .5rem;
    background-color: #D5F5E8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}