.Table_rows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.container_apar {
  background-color: #f2f2f2;
  border: 1px solid rgba(57, 93, 138, 0.358);
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  margin: 1% 20%;
  text-align: center;
  margin: auto;

}
.inpt {
  width: 50%;
  padding: 0.5rem;
  border: 1px solid #9fc8fe;
  background: #ffffff;
  background-blend-mode: multiply;
  border: 1px solid #9fc8fe;
  border-radius: 5px;
  margin: 8px 0;

}
.inpt:focus{
    outline: 0;
}

.btn_class {
  display: flex;
  justify-content: center;
  align-items: center;
}
.submitbtn_apar {
  display: flex;
  justify-content: center;
  width: 30%;
  background-color: #5b91d9;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.submitbtn_apar:hover {
  background-color: #5b91d9;
}
.head {
  display: flex;
  justify-content: center;
  background-color: #5b91d9;
  color: white;
  padding: 3px;
}


.Edit_lock{
   display: flex;
   gap: 1rem;
   justify-content: center;
   align-items: center;
   width: 50%;
}
.error {
  display: flex;
  color: red;
  font-size: 14px;
  margin-top: 5px;
  width: 20%;

}
.inpt{
  display: flex;
  width: 60%;

}
.spantype{
  display: flex;
  width: 20%;

}
.period{
  margin-top: 4%;
  display: flex;
  gap: 0.5em;

}
.reporting_title{
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;


}


.from_apar{
  display: flex;
  flex-direction: column;
  width: 40%;

}
.to_apar{
  display: flex;
  flex-direction: column;

  width: 40%;


}
.inpt_period{
  display: flex;
  padding: 0.5rem;
  border: 1px solid #9fc8fe;
  background: #ffffff;
  background-blend-mode: multiply;
  border: 1px solid #9fc8fe;
  border-radius: 5px;
  margin: 8px 0;
  width: 80%;
}
.error_apar1 {
  display: flex;
  color: red;
  align-items: center;
  font-size: 14px;
  margin-top: 5px;
  width: 50%;

}
.error_apar2 {
  display: flex;
  color: red;
  align-items: center;
  font-size: 14px;
  margin-top: 5px;
  width: 50%;

}