/* .parent_container{
    display: flex;
}


.container_apar{
    background-color: #f2f2f2;
    justify-content: center;
    width: 60%;
    margin: 1% 20%;
    text-align: center;
    border: 2px solid rgb(235, 231, 231);


}
.inp{
    width: 80%;
    padding: 0.5rem;
  height: 46px;
  border: 1px solid #9fc8fe;
  background: #ffffff;
  background-blend-mode: multiply;
  border: 1px solid #9fc8fe;
  border-radius: 10px;
  margin: 8px 0;
  
  
}

.btn_class{

    display: flex;
    justify-content: center;
    align-items: center;
}
.submitbtn_apar{
    display: flex;
    justify-content: center;
    width: 30%;
    background-color: #5b91d9;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.submitbtn_apar:hover{
    background-color: #5b91d9;
}
.heading{

    display:flex ;
    justify-content: center;
    background-color: #5b91d9;
    color: white;
  border-radius: 20px;

    padding: 3px;

}


 .period{
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 96%;

}
.title{
    display: flex;
    justify-content: center;
    width: 30%;
}

.content{

    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    width: 70%;


}
.from{
    display: flex;
    width: 100%;
}
.upto{
    display: flex;
    width: 100%;
} */
