/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    align-items: center;
} */

.containerLogin {
    max-width: 60vw;
    max-height: 80vh;
    padding: 20px;
    background-color: #9FC8FE;
    border: 1px solid #dfc0c0;
    border-radius: 5px;
    margin: 7vh 20vw 0 20vw;
}

/* h2 {
    text-align: center;
} */

.form-group {
    margin-bottom: 20px;
    width: 50%;
    margin-left: 25%;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group input[type="checkbox"] {
    margin-top: 5px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.form-group button:hover {
    background-color: #45a049;
}

.forgot-password {
    text-align: center;
    margin-top: 10px;
}

.forgot-password a {
    color: #666;
    text-decoration: none;
}

.image-container {
    text-align: center;
}

.image-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}