

.APAR_track_table {
  /* width: 90%; */
  border-collapse: collapse;
  border: 1px solid black;
}

.APAR_track_table th,
.APAR_track_table td {
  border: 1px solid black;
  padding: 5px;
}

.APAR_track_table thead {
  background-color: lightgray;
}

.APAR_track_table tbody tr:hover {
  background-color: #ffffcc;
}