.Evaluation_form_page {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Evaluation_form_page .Evaluation_heading {
  width: 70%;
  background: #9fc8fe;
  background-blend-mode: hard-light;
  mix-blend-mode: normal;
  border-radius: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}
.Evaluation_form_page .Evaluation_heading span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1189px;
  height: 48px;
  left: 120px;
  top: 26px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.Evaluation_form_page .Evaluation_main {
  width: 70%;
}
.Evaluation_form_page .Evaluation_main .input {
  display: flex;
  gap: 1rem;
}
.Evaluation_form_page .Evaluation_main input {
  padding: 0.5rem;
  width: 220px;
  height: 46px;
  border: 1px solid #9fc8fe;
  background: #ffffff;
  background-blend-mode: multiply;
  border: 1px solid #9fc8fe;
  border-radius: 10px;
}
.Evaluation_form_page .Evaluation_main .Evaluation_form_wrapper {
  display: flex;
  gap: 1rem;
}
.Evaluation_form_page .Evaluation_main .Evaluation_form_wrapper img {
  width: 50%;
  height: 392px;
}
.Evaluation_form_page .Evaluation_main .Evaluation_form_wrapper .Employee_details {
  width: 50%;
  display: flex;
  gap: 1rem;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  height: 376px;
}
.Evaluation_form_page .Evaluation_main .Evaluation_form_wrapper .Employee_details .Name_of_employee,
.Evaluation_form_page .Evaluation_main .Evaluation_form_wrapper .Employee_details .Name_of_group_head,
.Evaluation_form_page .Evaluation_main .Evaluation_form_wrapper .Employee_details .Period_of_review,
.Evaluation_form_page .Evaluation_main .Evaluation_form_wrapper .Employee_details .Designation,
.Evaluation_form_page .Evaluation_main .Evaluation_form_wrapper .Employee_details .Date {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.Evaluation_form_page .Evaluation_main .Evaluation_form_wrapper .Employee_details .Name_of_group_head input {
  width: 100%;
}
.Evaluation_form_page .Evaluation_main .Evaluation_form_wrapper .Employee_details .Designation_date {
  display: flex;
  gap: 0.8rem;
}
.Evaluation_form_page .Evaluation-and-OverAllPerformance {
  display: flex;
}
.Evaluation_form_page .Evaluation-and-OverAllPerformance .Evaluation_score {
  width: 55%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.Evaluation_form_page .Evaluation-and-OverAllPerformance .Evaluation_score .progress-bars {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.Evaluation_form_page .Evaluation-and-OverAllPerformance .Evaluation_score .progress-bars .progress-bar {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
  gap: 0.5rem;
  width: 100%;
}
.Evaluation_form_page .Evaluation-and-OverAllPerformance .Evaluation_score .progress-bars .progress-bar .prog-bar {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  padding: 0.5rem;
}
.Evaluation_form_page .Evaluation-and-OverAllPerformance .Evaluation_score .progress-bars .progress-bar .prog-bar button {
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}
.Evaluation_form_page .Evaluation-and-OverAllPerformance .Evaluation_score .progress-bars .progress-bar .bar {
  width: 90%;
  height: 20px;
  position: relative;
  border: 1px solid #000000;
  border-radius: 20px;
  overflow: hidden;
}
.Evaluation_form_page .Evaluation-and-OverAllPerformance .Evaluation_score .progress-bars .progress-bar .bar .fill {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.Evaluation_form_page .Evaluation-and-OverAllPerformance .Evaluation_score .circular-disk {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: lightgray;
  border-radius: 50%;
  position: relative;
}
.Evaluation_form_page .Evaluation-and-OverAllPerformance .Evaluation_score .circular-disk .color-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  mix-blend-mode: multiply;
  pointer-events: none;
  border-radius: 50%;
}
.Evaluation_form_page .Evaluation-and-OverAllPerformance .Evaluation_score .circular-disk .inner-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 50%;
}
.Evaluation_form_page .Evaluation-and-OverAllPerformance .Evaluation_score .circular-disk .inner-circle .score {
  font-size: 48px;
  font-weight: bold;
}
.Evaluation_form_page .Evaluation-and-OverAllPerformance .Evaluation_score .circular-disk .inner-circle .text {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}
.Evaluation_form_page .Evaluation-and-OverAllPerformance .Evaluation_score .color-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  mix-blend-mode: multiply;
  pointer-events: none;
  border-radius: 50%;
}
.Evaluation_form_page .Evaluation-and-OverAllPerformance .OverAllPerformance {
  display: flex;
  flex-direction: column;
  width: 45%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.Evaluation_form_page .Evaluation-and-OverAllPerformance .OverAllPerformance .OverAllPerformance {
  width: 80%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Evaluation_form_page .Evaluation-and-OverAllPerformance .OverAllPerformance .OverAllPerformance textarea {
  overflow: auto;
  background-blend-mode: color-dodge;
  border: 1px solid #9fc8fe;
  border-radius: 20px;
  width: 100%;
  border-collapse: collapse;
  resize: none;
  padding: 0.5rem;
}
.Evaluation_form_page .Evaluation-and-OverAllPerformance .OverAllPerformance .OverAllPerformance textarea::-webkit-scrollbar {
  display: none;
}
.Evaluation_form_page .Evaluation-and-OverAllPerformance .OverAllPerformance .Other-Eval-Param {
  border: 1px solid #9fc8fe;
  border-radius: 20px;
  padding: 0.5rem 0.5rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  width: 80%;
  height: 20%;
}
.Evaluation_form_page .Evaluation-and-OverAllPerformance .OverAllPerformance .Other-Eval-Param .concentric-circles {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.Evaluation_form_page .Evaluation-and-OverAllPerformance .OverAllPerformance .Other-Eval-Param .center {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  color: #1e1919;
  z-index: 999;
}
.Evaluation_form_page .Evaluation-and-OverAllPerformance .OverAllPerformance .Other-Eval-Param .circle-outer {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: lightgray;
  border-radius: 50%;
}
.Evaluation_form_page .Evaluation-and-OverAllPerformance .OverAllPerformance .Other-Eval-Param .circle-inner {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 50%;
}
.Evaluation_form_page .Evaluation-and-OverAllPerformance .OverAllPerformance .Other-Eval-Param .decription {
  width: 50%;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Evaluation_form_page .Evaluation-and-OverAllPerformance .OverAllPerformance .rating {
  border-radius: 20px;
  background-color: #e7f3ff;
  width: 80%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  color: #444;
  margin-bottom: 20px;
}
.Evaluation_form_page .Evaluation-and-OverAllPerformance .OverAllPerformance .rating__label {
  font-weight: bold;
  margin-bottom: 10px;
}
.Evaluation_form_page .Evaluation-and-OverAllPerformance .OverAllPerformance .rating__stars {
  display: flex;
}
.Evaluation_form_page .Evaluation-and-OverAllPerformance .OverAllPerformance .rating__stars .rating__star {
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s;
}
.Evaluation_form_page .Evaluation-and-OverAllPerformance .OverAllPerformance .rating__stars .rating__star:not(:last-child) {
  margin-right: 5px;
}
.Evaluation_form_page .Evaluation-and-OverAllPerformance .OverAllPerformance .rating__stars .rating__star:hover {
  color: #fadb14;
}
.Evaluation_form_page .Evaluation-and-OverAllPerformance .OverAllPerformance .rating__stars .rating__star--filled {
  color: #fadb14;
}
.Evaluation_form_page .Evaluation-and-OverAllPerformance .OverAllPerformance .rating__remark {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  color: #fadb14;
}/*# sourceMappingURL=Evaluation_form.css.map */