/* .parent_container {
  display: flex;
} */

.Table_rows {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;
}

.container_eval {
  background-color: #f2f2f2;
  border: 1px solid rgba(57, 93, 138, 0.358);
  justify-content: center;
  align-items: center;
  width: 55%;
  height: auto;
  margin: 1% 20%;
  text-align: center;
  margin: auto;
}

.inpt_tag {
  width: 50%;
  /* height: 90%; */
  padding: 0.5rem;
  border: 1px solid #9fc8fe;
  background: #ffffff;
  background-blend-mode: multiply;
  border: 1px solid #9fc8fe;
  border-radius: 5px;
  margin: 8px 0;
}

.inpt_tag:focus {
  outline: 0;
}

.btn_class {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitbtn_apar {
  display: flex;
  justify-content: center;
  width: 30%;
  background-color: #404e67;

  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submitbtn_apar:hover {
  background-color: #404e67;
}

.head {
  display: flex;
  justify-content: center;
  background-color: #404e67;

  color: white;
  /* border-radius: 20px; */

  padding: 3px;
}

.period {
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 96%;
}

.title {
  display: flex;
  justify-content: center;
  width: 30%;
}

.content {
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
  width: 70%;
}



.Edit_lock {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.table-mid {
  width: 100%;
  height: auto;
  margin-top: 20px;
  /* margin-bottom: 30px; */
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.multiline-input {
  resize: vertical;
  /* Allows vertical resizing */
  min-height: 70px;
  /* Sets a minimum height for the textarea */
  max-height: 300px;
  /* Sets a maximum height for the textarea */
  width: 90%;
  /* Makes the textarea occupy the full width */
  padding: 8px;
  /* Adds padding for better appearance */
  font-size: 16px;
  /* Sets the font size */
  border: 1px solid #9fc8fe;
  /* Adds a border */
  border-radius: 4px;
  /* Adds border radius */
}

.multiline-input:focus {
  outline: none;
  /* Removes the default focus outline */
  border-color: #007bff;
  /* Changes the border color on focus */
}

.error_evaluation{
  color: red;
  font-size: 11px;
  margin-top: 5px;
}
.from {
  display: flex;
  width: 100%;

}

.upto {
  display: flex;
  width: 100%;
}

.inpt_tag{
  display: flex;
  width: 62%;
}
.Table_rows{
  display: flex;

}
.spantype_eva{
  display: flex;
  width: 28%;

}
.pd_error_evaluation{
  color: red;
  font-size: 11px;
  margin-top: 5px;
  width: 10%;
}

.Table_rows_cl{
  display: flex;

  width: 100%;

}
.spantype_score{
  display: flex;
  width: 28%;
  margin-left: 1%;


}