.self-appraisal-form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 2%;
  border: 1px solid rgb(201, 195, 195);

  /* box-shadow:
  1px 2px 2px hsl(220deg 60% 50% / 0.2),
  2px 4px 4px hsl(220deg 60% 50% / 0.2),
  4px 8px 8px hsl(220deg 60% 50% / 0.2),
  8px 16px 16px hsl(220deg 60% 50% / 0.2),
  16px 32px 32px hsl(220deg 60% 50% / 0.2); */
}
.Self_Appraisal_heading {
  background-color: #404e67;
  padding: 0.5rem;
  color: #fff;
  width: 100%;
}

.self-appraisal-form h1,
.self-appraisal-form h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.self-appraisal-form .form-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.self-appraisal-form .form-group {
  flex-basis: 49%;
  margin-bottom: 10px;
}

.self-appraisal-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.self-appraisal-form input[type="text"],
.self-appraisal-form input[type="date"] {
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.self-appraisal-form input[type="date"] {
  height: 30px;
}

.self-appraisal-form table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.self-appraisal-form th,
.self-appraisal-form td {
  padding: 8px;
  text-align: left;
  font-size: 14px;
}

.self-appraisal-form .small-column {
  width: 20px;
}

.self-appraisal-form .add-row-cell {
  position: relative;
  width: 1%;
  white-space: nowrap;
}

.self-appraisal-form .add-row-symbol {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
  color: #4caf50;
  cursor: pointer;
}

.self-appraisal-form .table-container {
  overflow-x: auto;
  margin-top: 10px;
}

.self-appraisal-form .add-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-left: 10px;

  border-radius: 50%;
  background-color: #404e67;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.self-appraisal-form .add-row:hover {
  background-color: #45a049;
}
.delete-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: #404e67;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.delete-row:hover {
  background-color: #45a049;
}

.self-appraisal-form .form-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.self-appraisal-form .form-actions button {
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 3px;
  background-color: #404e67;
  color: #fff;
  border: none;
  cursor: pointer;
}

.self-appraisal-form .form-actions button:not(:last-child) {
  margin-right: 10px;
}

.self-appraisal-form .form-actions button:hover {
  background-color: #404e67;
}

.self-appraisal-form .locked input[type="text"],
.self-appraisal-form .locked input[type="date"] {
  background-color: #f1f1f1;
  cursor: not-allowed;
}
.form-row_date {
  display: flex;
}
.form-group_date {
  display: flex;
  width: 100%;
}
.title_date {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
}
.form-date-inputs {
  gap: 0.5rem;
  display: flex;
  width: 70%;
}
.date_saf {
  display: flex;
  width: 100%;
  margin-top: 20px;
}
.titleDate_saf {
  display: flex;
  width: 30%;
  justify-content: flex-start;
  align-items: center;
}
.dateoffilingSA {
  display: flex;
  width: 70%;
}
.error_saf {
  display: flex;
  color: red;
  font-size: 14px;
  margin-top: 5px;
  width: 100%;
  font-size: 11px;
}
