.main-app-hr{

  height: 90vh;
  display: flex;
  .outlet {
    width: 100vw;
  }
}
.main-app-emp {
//   overflow: scroll;
  
// &::-webkit-scrollbar {
//     display: none; 
// }

  height: 90vh;
  display: flex;
  .outlet {
    width: 100vw;
  }
}
