.notes-wrapper {
  display: flex;
  padding: 2rem 0 0 2rem;
  gap: 2rem;
  width: 100%;
  height: 100%;
  background-color: #F0F2F5;
}

.notes-wrapper .Total_Employee {
  cursor: pointer;
  /* border: 2px solid red; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  display: flex;
  width: 13rem;
  height: 18rem;
  border-radius: 1rem;
  background: #ffffff;
  box-shadow: 15px 15px 30px #bebebe,
    -15px -15px 30px #ffffff;
}

.notes-wrapper .Total_Employee .EmployeeIcon {
  font-size: 3em;
}

