@import './variable';
.notes-wrapper{
    width: 100%;
    padding: 1rem;

    .Total_Employee{
        border: 2px solid red;
        display: flex;
        flex-direction: column;
        width: 20%;
        height: 20%;
        align-items: center;
        .EmployeeIcon{
            font-size: 3em;
        }

    }

}